.radio {
  position: relative;
  display: inline-flex;
  width: 2em;
  height: 2em;
  margin-top: 2px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 2em;
  transition: all 0.25s ease;
}

.radio__input {
  position: absolute;
  inset: 0;
  appearance: none;
  width: 2em;
  height: 2em;
  margin: 0;
  border: 0;
  border-radius: 2em;
  background: white;
  box-shadow: inset 0 0 0 1px #757575;
  font: inherit;
  cursor: pointer;
  transition: all 0.25s ease;
}

.radio__input::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  aspect-ratio: 1;
  padding: 0;
  min-height: unset;
  border-radius: 2em;
  background: #e5e5e5;
  cursor: pointer;
  transition: all 0.25s ease;
  transform: translate3d(0, 0, 0) scale(0.6) rotate(0);
}

.radio__input:hover::before {
  background: #949494;
}

.radio__input:checked::before {
  background: #1d8928;
}

.radio__input:focus-visible {
  outline: 3px solid #f3bd3d;
  outline-offset: 3px;
}

.radio__input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.radio:has(.radio__input:disabled) {
  cursor: not-allowed;
}
